!!! Basic
%html.no-js
  %head
    %title= "Spongecms - #{@title}"
    = javascript_include_tag 'modernizr-1.7.min', 'spongecms'
    = stylesheet_link_tag 'spongecms.css' 
  %body
    %section.section
    %section.main
      = yield
