!!! Basic
%html.no-js
  %head
    %title= "Spongecms - #{@title}"
    = javascript_include_tag 'modernizr-1.7.min', 'spongecms'
    = stylesheet_link_tag 'spongecms.css' 
  %body
    %header.user-info
      %h1= link_to('SpongeCMS', '/spongecms')
    %section.main.clearfix
      %aside.main-left
        %nav.navigation
          %ul
            = position :navigation, do
              %li.current= link_to('Dashboard', root_path, :class => 'current dashboard')
      %section.container
        %section.content
          = yield
        %footer.footer.clearfix.top-border
          &copy; Copyright 2010 by SpongeCMS
